<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    
    <div class = "registerPage">
        <div class = "registerHeader">
            <h1>Elon Musk's Twitter</h1>
        </div>

        <div class = "registerTitle">
            <h1 class = "title">Register</h1>
        </div>

        <div class = "registerForm">
            <form action = "/register" method = "POST" class = "box">
                <div class = "registerHandle">
                    <label class = "label">Handle</label>
                    <div class = "control">
                    <input class = "registerHandleForm"
                        name = "handle"
                        class = "input"
                        type = "text"
                        placeholder = "Handle"
                    />
                    </div>
                </div>

                <div class = "registerEmail">
                    <label class = "label">Email</label>
                    <div class = "control">
                    <input class = "registerEmailForm"
                        name = "email"
                        class = "input"
                        type = "email"
                        placeholder = "example@domain.com"
                    />
                    </div>
                </div>

                <div class = "registerPassword">
                    <label class = "label">Password</label>
                    <div class = "control">
                        <input class = "registerPasswordForm"
                            name = "password"
                            class = "input"
                            type = "password"
                            placeholder = "******"
                        />
                    </div>
                </div>

                <div class = "registerSubmit">
                    <div class = "control">
                        <button class = "registerSubmitButton">Submit</button>
                    </div>
                </div>
            </form>

            <div class = "registerLoginButton">
                <h2><a href = "/login">Already a member? Login.</a></h2>
            </div>
        </div>
    </div>
</body>
</html>