<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    
    <div class="registerPage">
        <div class="registerHeader">
            <h1>Elon Musk's Twitter</h1>
        </div>

        <div class="registerTitle">
            <h1 class="title">Register</h1>
        </div>

        <div class="registerForm">
            <form action="/register" method="POST" class="box">
            <div class="registerHandle">
                <label class="label">Handle</label>
                <div class="control">
                <input
                    name="handle"
                    class="input"
                    type="text"
                    placeholder="Handle"
                />
                </div>
            </div>
            <div class="registerEmail">
                <label class="label">Email</label>
                <div class="control">
                <input
                    name="email"
                    class="input"
                    type="email"
                    placeholder="example@domain.com"
                />
                </div>
            </div>
            <div class="registerPassword">
                <label class="label">Password</label>
                <div class="control">
                <input
                    name="password"
                    class="input"
                    type="password"
                    placeholder="******"
                />
                </div>
            </div>
            <div class="registerSubmit">
                <div class="control">
                <button>Submit</button>
                </div>
            </div>
            </form>
    </div>

    </div>

</body>
</html>