<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>

    <div class="showHandlePage">

    <div class="showHandleNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="showHandleHeader">
        <h1>Show Profile</h1>
    </div>