<nav class="navbar">
    <div>
        <a href = "/tweets"> Home </a> 
            <span> | </span>
        <a href = "/tweets/newtweet">Tweet</a>
            <span> | </span>
            <a href = "/">Logout</a>
    </div>
</nav>