<nav class="navbar">
    <div>
        <!-- <a href = "/tweets"> Home </a> 
            <span> | </span>
        <a href = "/tweets/newtweet">Tweet</a>
            <span> | </span>
            <a href = "/">Logout</a> -->
        <% if (routes) { %> <% routes.forEach((route) => { %>
            <a class="navlink" href="<%= route.href %>"> <%= route.title %> </a>
        <% }) %> <% } %>
    </div>
</nav>