<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <div class="homePage">
        <div class="homePageTitle">
            <h1 class="homePageTitleText"><a href="/register">ELON MUSK'S TWITTER</a></h1>
        </div>
    </div>

</body>