<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <div class="homePage">
        <div class="homePageTitle">
            <h1 class="homePageTitleText"><a href="/register">
                <h1 class="homePageElonMusk">ELON MUSK'S</h1> 
                <h1 class="homePageTwitter">twitter</h1></a>
        </div>
    </div>

</body>