<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>

    <div class="newNav">
        <%- include('partials/nav.ejs')%>
    </div>

    <div class="newHeader">
        <h1>Create New Tweet</h1>
    </div>
    
    
</body>
</html>