html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #030825;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

/* HOME PAGE STYLING */
.homePageTitle {
    margin: 150% auto;
}

.homePageTitleText {
    font-size: 150%;
}

a {
    color: aliceblue;
    text-decoration: none;
}

/* ----REGISTER PAGE STYLING---- */
.registerHeader {
    text-align: center;
}

.registerTitle {
    margin: 10% auto;
    text-align: center;
}

.registerForm {
    margin: 5% auto;
}

.registerHandle {
    margin: 5% auto;
}

.registerEmail {
    margin: 5% auto;
}

.registerPassword {
    margin: 5% auto;
}

.registerSubmit {
    margin: 5% auto;
    text-align: center;
}

/* ----LOGIN PAGE STYLING---- */
.loginHeader {
    text-align: center;
}

.loginTitle {
    margin: 10% auto;
    text-align: center;
}

.loginForm {
    margin: 5% auto;
}

.loginEmail {
    margin: 5% auto;
}

.loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% auto;
    text-align: center;
}

.loginBack {
    margin: auto 5%;
}

.loginSubmit {
    margin: auto 5%;
}

/* ----INDEX PAGE STYLING---- */
.indexNav {
    text-align: center;
}

.indexHeader {
    text-align: center;
}

.timeline {
    margin: 10% auto;

}

.tweet {
    margin: 5% auto;
    border-top: solid 2px #42a5f5;
    border-radius: 5px;
    padding: 8px 0 0 0;
}

.indexTimeLikeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 6px;
    padding-left: 6px;
}

.indexTimeStamp{
    font-size: 14px;
    color: aliceblue
}

button{
    border:1px solid #42a5f5 ;
    border-radius: 4px;
    background-color: #42a5f5;
}

.tweethandle{
padding: 6px;
font-size: 15px;
}

.tweettext{
    font-size: 20px;
}

/* ----SHOW TWEET PAGE STYLING---- */
.showNav {
    text-align: center;
}

.showHeader {
    text-align: center;
}

.showTweetProfileName {
    margin: 5% auto;
    text-align: center;
}

.showTweet {
    margin: 5% auto;
}

.showTweetTimeLikeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.showPageEditDeleteSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
}

.showPageEditTweet {
    margin: auto 2%;
}

.showPageEditButton {
    background: none;
    background-color: skyblue;
    border: none;
}

.showPageDeleteTweet {
    margin: auto 2%;
}

.showPageDeleteTweetButton {
    background: none;
    background-color: skyblue;
    border: none;
    color: aliceblue;
}

.showPageCommentForm {
    text-align: center;
    margin: 5% auto;
}

.showComment {
    margin: 5% auto;    
}

.showPageDeleteComment {
    text-align: center;
    margin-bottom: 2%;
}

/* ----EDIT PAGE STYLING---- */
.editNav {
    text-align: center;
}

.editHeader {
    text-align: center;
}

.editProfileName {
    margin: 10% auto;
    text-align: center;
}

.editTweetForm {
    margin: 10% auto;
    text-align: center;
}

.updateButton {
    margin: 3% auto;
    text-align: center;
}

/* ----SHOW PROFILE PAGE STYLING---- */
.showHandleNav {
    text-align: center;
}

.showHandleHeader {
    text-align: center;
}

.showProfile {
    text-align: center;
    margin: 7% auto;
    font-size: 25px;
}

.profileTweetsSection {
    margin: 7% auto;
}

.profileTweets {
    margin: 5% auto;
}

.profileTimeLikeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profileHandle{
    font-size: 15px;
}
.profileText{
    font-size: 20px;
}
.profileTime{
    font-size: 14px;
    color: aliceblue
}

/* ----NEW PAGE STYLING---- */
.newNav {
    text-align: center;
}

.newHeader {
    text-align: center;
}

.newTweet {
    margin: 10% auto;
}

