html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: flex;
    justify-content: center;
}


/* ----INDEX PAGE STYLING---- */
.indexNav {
    text-align: center;
}

.indexHeader {
    text-align: center;
}

.timeline {
    margin: 10% auto;
}
.tweet {
    margin: 5% auto;
}

/* ----SHOW PAGE STYLING---- */
.showNav {
    text-align: center;
}

.showHeader {
    text-align: center;
}

.showTweetProfileName {
    margin: 5% auto;
    text-align: center;
}

.showTweet {
    margin: 5% auto;
}

.showPageEditDeleteSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
}

.showPageEditTweet {
    background-color: skyblue;
    margin: auto 2%;
}

.showPageDeleteTweet {
    margin: auto 2%;
}

.showPageDeleteTweetButton {
    background: none;
    background-color: skyblue;
    border: none;
}

.showPageCommentForm {
    text-align: center;
    margin: 5% auto;
}

.showComment {
    margin: 5% auto;    
}

.showPageDeleteComment {
    text-align: center;
    margin-bottom: 2%;
}

/* ----EDIT PAGE STYLING---- */
.editNav {
    text-align: center;
}

.editHeader {
    text-align: center;
}

.editProfileName {
    margin: 10% auto;
    text-align: center;
}

.editTweetForm {
    margin: 10% auto;
    text-align: center;
}

.updateButton {
    margin: 3% auto;
    text-align: center;
}

/* ----SHOW PROFILE PAGE STYLING---- */
.showHandleNav {
    text-align: center;
}

.showHandleHeader {
    text-align: center;
}

.showProfile {
    text-align: center;
    margin: 7% auto;
}

.profileTweetsSection {
    margin: 7% auto;
}

.profileTweets {
    margin: 5% auto;
}

/* ----NEW PAGE STYLING---- */
.newNav {
    text-align: center;
}

.newHeader {
    text-align: center;
}

.newTweet {
    margin: 10% auto;
}

