@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #010415;
    color: aliceblue;
    font-family: 'Radio Canada', sans-serif;
    display: flex;
    justify-content: center;
}

a {
    color: aliceblue;
    text-decoration: none;
}

/* HOME PAGE STYLING */
.homePageTitle {
    margin: 150% auto;
    text-align: center;
}

.homePageElonMusk {
    font-family: 'Radio Canada', sans-serif;
    font-weight: 400;
    font-size: 250%;
}

.homePageTwitter {
    color: #8eccff;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 700;
    font-size: 475%;
}

/* ----REGISTER PAGE STYLING---- */
.registerHeader {
    font-size: 175%;
    font-weight: 700;
    margin-top: 5%;
    text-align: center;
}

.registerTitle {
    font-size: 150%;
    margin: 10% auto;
    text-align: center;
}

.registerForm {
    margin: 5% auto;
}

.control {
    text-align: center;
}

.registerHandle {
    margin: 5% auto;
}

.registerEmail {
    margin: 5% auto;
}

.registerPassword {
    margin: 5% auto;
}

.registerSubmit {
    margin: 5% auto;
    text-align: center;
}

.registerSubmitButton {
    color: aliceblue;
}

.registerLoginButton {
    text-align: center;
}

/* ----LOGIN PAGE STYLING---- */
.loginHeader {
    font-size: 175%;
    font-weight: 700;
    margin-top: 5%;
    text-align: center;
}

.loginTitle {
    font-size: 150%;
    margin: 10% auto;
    text-align: center;
}

.loginForm {
    margin: 5% auto;
}

.loginEmail {
    margin: 5% auto;
}

.loginPassword {
    margin: 5% auto;
}

.loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% auto;
    text-align: center;
}

.loginBack {
    margin: auto 5%;
}

.loginBackButton {
    color: aliceblue;
}

.loginSubmit {
    margin: auto 5%;
}

.loginSubmitButton {
    color: aliceblue
}

/* ----INDEX PAGE STYLING---- */
.indexNav {
    margin: 5% auto;
    padding-top: 5%;
    text-align: center;
}

.indexHeader {
    font-size: 175%;
    font-weight: 700;
    text-align: center;
}

.timeline {
    margin: 10% auto;
}

.tweet {
    margin: 5% auto;
    border-top: solid 2px #42a5f5;
    padding: 8px 0 0 0;
}

.tweethandle {
    color: #CAF0F8;
    margin: 4% auto;
    font-size: 95%;
}

.tweetHandleLink {
    color: #CAF0F8;
}
    
.tweettext {
    font-size: 115%;
}

.indexTimeLikeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% auto;
}

.indexTimeStamp { 
    color: #0077B6;
    font-size: 80%;
}

button {
    border: 1px solid #5fb5fc ;
    border-radius: 4px;
    background-color: #5fb5fc;
    opacity: .8;
}

button:hover{
   background-color: #7fc4fd;
   opacity: 1;
}

/* ----SHOW TWEET PAGE STYLING---- */
.showNav {
    margin: 5% auto;
    padding-top: 4%;
    text-align: center;
}

.showHeader {
    font-size: 165%;
    font-weight: 700;
    text-align: center;
}

.showTweetProfileName {
    margin: 5% auto;
    text-align: center;
}

.showTweet {
    margin: 5% auto;
    border-top: solid 2px #42a5f5;
    border-bottom: solid 2px #42a5f5;
}

.tweethandle {
    margin: 4% auto;
    font-size: 95%;
}
    
.tweettext {
    font-size: 115%;
}

.showTweetTimeLikeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% auto;
}

.showTweetTimeStamp {
    color: #0077B6;
    font
}

.showPageEditDeleteSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
}

.showPageEditTweet {
    margin: auto 2%;
}

.showPageEditButton {
    background: none;
    background-color: #90E0EF;
    border: none;
}

.editButton {
    color: #030825;
}

.showPageDeleteTweet {
    margin: auto 2%;
}

.showPageDeleteTweetButton {
    background: none;
    background-color: #90E0EF;
    border: none;
    color: #030825;
}

.showPageCommentForm {
    text-align: center;
    margin: 5% auto;
}

.showComment {
    margin: 5% auto;    
}

.commentTime {
    margin: 4% auto;
}

.showPageDeleteComment {
    text-align: center;
    margin-bottom: 2%;
}

.showPageSubmitCommentButton {
    background-color: #90E0EF;
    border-style: none;
    color: #030825;
}
/* ----EDIT PAGE STYLING---- */
.editNav {
    margin: 5% auto;
    padding-top: 4%;
    text-align: center;
}

.editHeader {
    font-size: 170%;
    font-weight: 700;
    text-align: center;
}

.editProfileName {
    margin: 5% auto;
    text-align: center;
}

.editTweetForm {
    margin: 10% auto;
    text-align: center;
}

.editTweetHandleSection {
    margin: 3% auto;
}

.updateButton {
    margin: 5% auto;
    text-align: center;
}

/* ----SHOW PROFILE PAGE STYLING---- */
.showHandleNav {
    margin: 5% auto;
    padding-top: 4%;
    text-align: center;
}

.showHandleHeader {
    font-size: 165%;
    font-weight: 700;
    text-align: center;
}

.showProfile {
    text-align: center;
    margin: 7% auto;
    font-size: 125%;
}

.profileTweetsSection {
    margin: 7% auto;
}

.profileTweets {
    margin: 5% auto;
    border-top: solid 2px #42a5f5;
}

.profileTimeLikeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% auto;
}
.profileHandle {
    font-size: 15px;
}
.profileText {
    font-size: 20px;
}

.profileTimeStamp {
    color: #0077B6;
}
.profileTime {
    font-size: 14px;
}

/* ----NEW PAGE STYLING---- */

.newNav {
    margin: 4% auto;
    padding-top: 4%;
    text-align: center;
}

.newHeader {
    font-size: 160%;
    font-weight: 700;
    text-align: center;
}

.newTweet {
    margin: 10% auto;
}

.createNewHandleSection {
    margin: 3% auto;
}

.createNewButton {
    background-color: #90E0EF;
    border-style: none;
    color: #030825;
    margin: 5% auto;
}



